@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap'); /* Roboto Condensed */
@import url('https://fonts.googleapis.com/css2?family=Fondamento:ital@0;1&display=swap'); /* Fondamento */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap'); /* Roboto */

body
{
    margin: 0;
}

.error-container
{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.error-icon
{
    width: 200px;
    height: 200px;
    margin-top: 40px;
}

.error-code
{
    font-family: "Fondamento", cursive;
    font-size: 100px;
    margin: 0;
}

.error-message
{
    font-family: "Roboto Condensed", sans-serif;
    font-size: 24px;
}

.index-button
{
    margin-top: 30px;
    padding: 10px 20px;
    font-family: "Roboto Condensed", sans-serif;
    font-size: 30px;
    background-color: black;
    color: white;
    border-radius: 5px;
    text-decoration: none;
}

.index-button:hover
{
    background-color: #d6a913;
}

.iframe-container
{
    display: none;
    width: 100%;
    height: 400px;
    position: relative;
    overflow: hidden;
    /* border-radius: 10px; */
}

.chrome-dino
{
    width: 100%;
    height: 260px;
    border: none;
    transform: translateY(-100px);
}