@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap'); /* Roboto Condensed */
@import url('https://fonts.googleapis.com/css2?family=Fondamento:ital@0;1&display=swap'); /* Fondamento */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap'); /* Roboto */

body
{
    margin: 0;
}


.content
{
    margin: 40px;
}

.title
{
    font-family: "Fondamento", cursive;
    font-size: 45px;
    text-align: left;
    margin-bottom: 0px;
}

.description
{
    font-family: "Roboto Condensed", sans-serif;
    font-size: 20px;
    margin-top: 20px;
}

.steps-container
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 100px;
    margin-top: 20px;
}

.step-left
{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 20px;
    margin-bottom: 40px;
}

.step-right
{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-top: 20px;
    margin-bottom: 40px;
}

.step-title
{
    font-family: "Roboto", sans-serif;
    font-size: 30px;
    margin-bottom: 0px;
    width: 600px;
}

.step-description
{
    font-family: "Roboto Condensed", sans-serif;
    font-size: 18px;
    margin-top: 0px;
    margin-bottom: 10px;
    width: 600px;
}

.step-img
{
    width: 600px;
    height: auto;
    border: 3px solid black;
    border-radius: 10px;
}

.final-note
{
    font-family: "Roboto", sans-serif;
    font-size: 30px;
}