@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap'); /* Roboto Condensed */
@import url('https://fonts.googleapis.com/css2?family=Fondamento:ital@0;1&display=swap'); /* Fondamento */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap'); /* Roboto */

body
{
    margin: 0;
}


.content
{
    margin: 40px;
}

.title
{
    font-family: "Fondamento", cursive;
    font-size: 45px;
    text-align: left;
    margin-bottom: 0px;
}

.description
{
    font-family: "Roboto Condensed", sans-serif;
    font-size: 20px;
    margin-top: 20px;
}


.team-container
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px;
    margin-top: 20px;
}

.team-member
{
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 15px;
    width: 220px;
    padding: 10px;
}

.team-img
{
    width: 180px;
    height: 180px;
    border-radius: 90px;
}

.team-name
{
    font-family: "Roboto", sans-serif;
    font-size: 22px;
    margin: 10px;
}

.team-role
{
    font-family: "Roboto Condensed", sans-serif;
    font-size: 18px;
    margin: 0px;
    text-align: center;
}

.team-since
{
    font-family: "Roboto Condensed", sans-serif;
    font-size: 16px;
    margin: 0px;
    color: gray;
}