@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap'); /* Roboto Condensed */
@import url('https://fonts.googleapis.com/css2?family=Fondamento:ital@0;1&display=swap'); /* Fondamento */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap'); /* Roboto */

body
{
    margin: 0;
}

h2
{
    font-family: "Fondamento", cursive;
    font-size: 70px;
    margin-top: 40px;
    margin-bottom: 100px;
    text-align: center;
}

.about-pages
{
    font-family: "Roboto Condensed", sans-serif;
    text-align: center;
    list-style-type: none;
}

.about-pages li
{
    transition: transform 0.2s ease;
    margin: 30px;
}

.about-pages li:hover
{
    /* transform: scale(5); */
    transform: translateX(10px);
}

.about-pages li a
{
    text-decoration: none;
    color: black;
    font-size: 50px;
}

.about-pages li a:hover
{
    text-decoration: underline;
}