@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap'); /* Roboto Condensed */
@import url('https://fonts.googleapis.com/css2?family=Fondamento:ital@0;1&display=swap'); /* Fondamento */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap'); /* Roboto */

body
{
    margin: 0;
}


.content
{
    margin: 40px;
}

.title
{
    font-family: "Fondamento", cursive;
    font-size: 45px;
    text-align: left;
    margin-bottom: 0px;
}

.description
{
    font-family: "Roboto Condensed", sans-serif;
    font-size: 20px;
    margin-top: 20px;
}

.partner-container
{
    display: flex;
    margin-top: 20px;
}

.partner-info
{
    display: flex;
    flex-direction: column;
}

.partner-img
{
    width: 300px;
    height: 300px;
    margin: 20px;

    border: 3px solid black;
    border-radius: 20px;
}

.partner-name
{
    font-family: "Roboto", sans-serif;
    font-size: 30px;
}

.partner-desc
{
    font-family: "Roboto Condensed", sans-serif;
    font-size: 25px;
}

.partner-link
{
    text-decoration: none;
    text-align: center;
    font-size: 17px;
    font-family: "Roboto Condensed", cursive;
    color: white;
    background-color: black;
    width: 150px;
    padding: 10px;

    transition: transform 100ms ease;
}

.partner-link:hover
{
    transform: scale(1.05);
    text-decoration: underline;
}