@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap'); /* Roboto Condensed */
@import url('https://fonts.googleapis.com/css2?family=Fondamento:ital@0;1&display=swap'); /* Fondamento */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap'); /* Roboto */

body
{
    margin: 0;
}


.content
{
    margin: 40px;
}

.title
{
    font-family: "Fondamento", cursive;
    font-size: 45px;
    text-align: left;
    margin-bottom: 0px;
}

.description
{
    font-family: "Roboto Condensed", sans-serif;
    font-size: 20px;
    margin-top: 20px;
}