@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap'); /* Roboto Condensed */
@import url('https://fonts.googleapis.com/css2?family=Fondamento:ital@0;1&display=swap'); /* Fondamento */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap'); /* Roboto */

body
{
    margin: 0;
}


.content
{
    margin: 40px;
}

.title
{
    font-family: "Fondamento", cursive;
    font-size: 45px;
    text-align: left;
    margin-bottom: 0px;
}

.description
{
    font-family: "Roboto Condensed", sans-serif;
    font-size: 20px;
    margin-top: 20px;
}


.feedback-container
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 140px;
    row-gap: 40px;
    margin-top: 40px;
}

.feedback
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 5px solid black;
    border-radius: 20px;
    width: 220px;
    height: 350px;
}

.feedback-img
{
    width: 150px;
    height: 150px;
    border-radius: 75px;
    margin-bottom: 20px;
}

.feedback-text
{
    font-family: "Roboto Condensed", sans-serif;
    font-size: 16px;
    text-align: center;
    padding: 20px;
    padding-top: 0px;
    margin: 0px;
}