.product
{
    width: 300px;
    height: 400px;
    overflow-wrap: break-word;
    overflow: hidden;
    padding: 40px;
}

.product .img
{
    width: 260px;
    height: 260px;
    padding: 20px;
    border: 10px solid #d7ba5b88;
    transition: box-shadow 200ms ease;
    cursor: pointer;
}

.product .img:hover
{
    box-shadow: 0px 0px 15px 3px rgb(126, 126, 126);
}

.product .title
{
    text-align: left;
    margin-top: 5px;
    font-family: "Roboto", sans-serif;
    font-size: 25px;
    text-decoration: none;
    color: black;
    margin-bottom: 0px;
}

.product .title:hover
{
    cursor: pointer;
    text-decoration: underline;
}

.product .price
{
    text-align: left;
    font-family: "Roboto", sans-serif;
    margin-top: 0px;
}