@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap'); /* Roboto Condensed */
@import url('https://fonts.googleapis.com/css2?family=Fondamento:ital@0;1&display=swap'); /* Fondamento */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap'); /* Roboto */

body
{
    margin: 0;
}

.product-container
{
    display: flex;
    justify-content: flex-start;
    gap: 20px;
    margin: 40px;
}

#product-img
{
    width: 480px;
    height: 480px;
    padding: 20px;
    border: 3px solid black;
    border-radius: 10px;
}

.product-info
{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.product-title-container
{
    display: flex;
    align-items: center;
    gap: 15px;
}

#product-title
{
    font-family: "Fondamento", cursive;
    font-size: 40px;
    margin: 0;
}

#popular-product
{
    background-color: rgb(255, 0, 0);
    color: aqua;
    color: black;
    font-family: "Roboto Condensed", sans-serif;
    font-size: 14px;
    font-weight: 600;
    padding: 5px 10px;
    border-radius: 17px;
    min-width: 70px;
    height: auto;
    margin: 0;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

#product-description
{
    font-family: "Roboto", sans-serif;
    font-size: 20px;
    margin: 10px 0;
}

#product-price
{
    font-family: "Roboto Condensed", sans-serif;
    font-size: 24px;
    color: rgb(193, 167, 36);
    margin-top: 10px;
}

#buy-button
{
    font-family: "Roboto", sans-serif;
    font-size: 25px;
    text-align: center;
    text-decoration: none;
    background-color: black;
    color: white;
    border: none;
    margin-top: 20px;
    cursor: pointer;
    width: 200px;
    padding: 15px;
}