@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap'); /* Roboto Condensed */
@import url('https://fonts.googleapis.com/css2?family=Fondamento:ital@0;1&display=swap'); /* Fondamento */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap'); /* Roboto */

.virtual-assistant
{
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 999;
}

.button
{
    background-color: transparent;
    border: none;
    cursor: pointer;
    position: relative;
    width: 60px;
    height: 60px;
    transition: all 200ms ease;
    padding: 0;
}

.button:hover
{
    width: 90px;
    height: 90px;
}

.button img
{
    width: 100%;
    height: 100%;
    background-color: rgb(51, 157, 255);
    border-radius: 50%;
    padding: 0;
    border: 2px solid black;
}

.chat-box
{
    display: none;
    flex-direction: column;
    position: absolute;
    bottom: 0;
    right: 80px;
    width: 350px;
    height: 500px;
    background-color: white;
    border: 2px solid black;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    overflow: auto;
}

.resize-handle {
    width: 15px;
    height: 15px;
    background: #ccc;
    cursor: nwse-resize; /* diagonale haut-gauche / bas-droite */
    position: absolute;
    top: 0;
    left: 0;
}

.chat-box h2
{
    font-family: "Roboto Condensed", sans-serif;
    font-size: 24px;
    text-align: center;
    margin: 10px 0;
}

.chat-messages
{
    flex: 1;
    padding: 10px;
    overflow-y: auto;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

.message
{
    margin-bottom: 10px;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
}

.assistant-message
{
    text-align: left;
    background-color: rgba(127, 235, 235, 0.719);
    padding: 10px;
    margin-right: 20px;
    border-radius: 10px;
}

.user-message
{
    text-align: right;
}

.send-msg
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 10px;
}

.user-input
{
    flex: 1;
    padding: 10px;
    font-size: 16px;
    border: 1px solid black;
    border-radius: 5px;
}

.send-button
{
    background-color: rgb(0, 217, 255);
    border: none;
    color: white;
    padding: 10px 20px;
    margin-left: 10px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}